<h2>Welcome to my personal website!</h2> 
<!--a href="http://photos.harris.org.nz/Other/Blog/19323509_ZKf2Sz#1509728915_HLDL5Ls-A-LB" title="Photo & Video Sharing by SmugMug"><img src="http://photos.harris.org.nz/photos/i-HLDL5Ls/0/M/i-HLDL5Ls-M.jpg" title="Photo & Video Sharing by SmugMug" alt="Photo & Video Sharing by SmugMug"></a-->
<%= link_to "My Blog", posts_path %>
