<% @posts.each do |post| %>
  <div class="post">
    <h2 class="left"><%= link_to post.title, post %></h2>
    <p class="right">Posted on <%=post.created_at.strftime("%m/%d/%y %I:%M%p") %></p>
    <div class="clear"></div>
    <p><%= post.content %></p>
  </div>
<% end %>

<br />

<%= link_to 'Create new post', new_post_path %>
